/* The grid */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
}
@media (min-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.grid-item {
  background-color: #fb9324ce; 
  /* #f0793a; */
  /* rgb(160, 100, 228) */
  position: relative;
  top: 120px;
  padding: 1em;
  border: outset 3px rgba(255, 128, 0, 0.515);
  border-radius: 10px;
  cursor: pointer;
  
}
.grid-item:hover {
  box-shadow: 0 0 50px orange;
  animation: zoomIn 0.7s linear 0s infinite alternate forwards;
  z-index: 99;
}

.grid-item img {
  width: 50%;
}

@keyframes zoomIn {
  0% {
    transform: scale(1);
    background-color: #fb9324ce;
    
  }
  100% {
    transform: scale(1.1);
    background-color: #f1b657;
  }
}


/* the page */

header {
  background-color: #fb9224; 
  /* rgb(131, 27, 228); */
  padding: 1em;
  text-align: center;
  height: auto;
  border: solid 3px rgba(244, 123, 1, 0.261);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
footer {
  background-color: #fb9224; 
  /* rgb(131, 27, 228); */
  position: relative;
  top: 120px;
  padding: 2em;
  height: auto;
  border: solid 3px rgba(244, 123, 1, 0.392);
  
}
body {
  background-color: #fbe555; 
  /* rgb(158, 105, 208); */
  margin: 0;
  /* animation: shine 2s ease-in-out 0s infinite alternate forwards; */
}

::-webkit-scrollbar {
  background-color: #fb9224;
  border: solid #fbe555;
}
::-webkit-scrollbar-thumb {
  background-color: #eed440;
  border: solid 1px;
  border-radius: 10px;
}

@keyframes shine {
  0% {
    background-color: #fbe555;
  }
  100% {
    background-color: #f8f2c7;
  }
}

